body
{
	background-color: blue;

}
.megaContainer
{
	
}
li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: blue;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}