body
{
	background-color: #3D9970;

}
.megaContainer
{
	
}
li {
 /* background: #FAEBD7;
  width: :50px;
  margin: 5px;*/
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: blue;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
.burger_top
{
  background-color: #FF7F24;
  width: 150px;
  height: 30px;
  border-radius: 5px;
 /* position:relative;*/
}
.burger_middle
{
  background-color: #8B4513;
  width: 150px;
  height: :30px;
  text-align: center;
  vertical-align: middle;
}
button
{
  margin-left: 5%;
  margin-top: 1%;
}
.ketchup
{
  height: 10px;
  width: 150px;
  background-color: red;
}
.lettuce
{
  height: 10px;
  width: 150px;
  background-color: green;
}